﻿<div style="font-size: 11pt;">
Dear Administrator,<br />
<br />
An enquiry from the following customer was received via myMBFS on (date):<br />
<br />
<table style="font-size: 11pt;" class="table-message">
	<tr>
		<td nowrap class="td-left">Contract Number:</td>
		<td>(contract no)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Name:</td>
		<td>(customer name)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Mobile:</td>
		<td>(customer mobile)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Contact preference:</td>
		<td>(contact preference)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Topic of enquiry:</td>
		<td>(topic type)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Ticket No.:</td>
		<td>(ticket number)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Files attached:</td>
		<td>(files)</td>
	</tr>
	<tr>
		<td nowrap class="td-left">Details of enquiry:</td>
		<td>(customer's message)</td>
	</tr>
</table>
</div>
<style scoped>
	.table-message td{
		vertical-align:top;
	}
	.td-left{
		padding-right:3px;
	}
</style>